$person-width: 200px;
$person-height: 231px;

*{
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

body{
    margin: 0;
}

.people{
    display: grid;
    grid-template-columns: repeat(2, $person-width);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;

    @media (min-width:1000px) {
        grid-template-columns: repeat(4, $person-width); 
    }
}

.person{
    height: $person-height;
    width: $person-width;

    &__photo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        position: relative;
    }

    &__photo-img{
        width: $person-width;
        border-radius: 200px;
        animation-duration: 1s;
        animation-delay: 1s;
    }

    &__photo-rank{
        position: absolute;
        top: ((200px - 32px) / 2) ;
        right: 10px;
        width: 32px;
        height: 32px;
        border-radius: 200px;
        background-color: #FFFFFF;
        color: #8B0000;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__details-name{
        font-size: 20px;
        color: #2F4F4F;
    }

    &__details-extra{
        display: none;
        font-weight: 400;
        font-size: 18px;
    }

    &:hover{
        background-color: #EEEEEE;
        border-radius: 10px;
        width: 220px;
        height: auto;
        transform: translate(-10px,0);
        .person__details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .person__details-extra{
            display: flex;
        }

        @keyframes changeBorder {
            from{
                border-radius: 200px;
            }
            to{
                border-radius: 60px;
            }
        }

        .person__photo-img{
            animation: changeBorder 1s forwards;
        }
    }
}